html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;
}

#root {
  min-width: 320px;
  max-width: 430px;
  width: 100%;
  height: 100dvh;
  margin: 0 auto;
  position: relative;
}
